body{
    padding: 15px;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa {
    border: solid 1px #666;
    padding: 5px 10px;
    margin: 40px;
}

.area-visivel span{
    display: none;
    color: #666;
}

.caixa-image{
    display: block;
    width: 900px;
    height: 600px;
    margin: 2px red;
    align-items: center;
}
#image {
    padding: 5px;
    margin: 10px;
    width: 750px;
    height: 425px;
    align-items: center;
}
/* max-width 600px */

@media screen and (max-width: 600px)
{
    .um{
        background: #f9C;
    }

    span.lt600{
        display: inline-block;
    }
    #image{
        width: 350px;
    height: 175px;
    align-items: center;
    }
}

@media screen and (min-width: 900px)
{
    .dois{
        background: #F90;
    }
    span.gt900{
        display: inline-block;
    }
    
    #image{
        width: 750px;
        height: 425px;
        align-items: center;

    }
}

@media screen and (min-width: 600px) and (max-width: 900px)
{
    .tres{
        background: #9CF;
    }
    span.bt600-900{
        display: inline-block;
    }
    #image{
    width: 450px;
    height: 275px;
    align-items: center;
    }
}

/*max device width*/
@media screen and (max-device-width: 480px)
{
    .iphone{
        background: #ccc;
    }
}


